certifi==2017.7.27.1
chardet==3.0.4
click==6.7
Flask==0.12.2
Flask-BasicAuth==0.2.0
Flask-Breadcrumbs==0.4.0
Flask-Bootstrap==3.3.7
Flask-Cache==0.13.1
Flask-Menu==0.6.0
Flask-WTF==0.14.2
idna==2.6
itsdangerous==0.24
Jinja2==2.11.3
MarkupSafe==1.0
python-crontab==2.2.4
python-dateutil==2.6.1
requests==2.18.4
slackclient==1.0.9
urllib3==1.22
websocket-client==0.44.0
Werkzeug==0.12.2
WTForms==2.1
fasteners==0.14.1
monotonic==1.3
six==1.11.0
pyyaml==3.12
markdown==2.6.9
gunicorn==19.7.1
pytest==3.2.2
pytest-flask==0.10.0
coverage==4.4.1
