/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    background-color: #f6f6ef;
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
    font-family: 'Roboto', sans-serif;
}

body {
    height: auto;
    min-height: 100% !important;
    position: relative;
}

.container {
    margin: auto;
    max-width: 1200px;
    overflow: auto;
    padding: 0 0px 0 0px;
}

.header {
    width: 100%;
    margin-bottom: 50px;
    clear: both;
    overflow: auto;
}

    .header .left {
        position: relative;
        float: left;
    }

    .header .right {
        position: relative;
        float: right;
        text-align: right;
        top: 17px;
    }

    .header .refresh_timer {
        font-size: x-small;
    }

.section {
    border-bottom: 1px solid #000;
    clear: both;
    font-size: x-large;
    margin-bottom: 15px;
    position: relative;
    text-align: left;
}

.wrapper {
    overflow: auto;
}

.wrapper-hidden {
    overflow: hidden;
}


/* Home */

.home_wrapper {
    margin: 0 auto;
    text-align: left;
    width: 100%;
}

    .home_wrapper .master_status {
        border-bottom: 1px solid #000;
        clear: both;
        font-size: x-large;
        position: relative;
        text-align: left;
    }

    .home_wrapper .master {
        background-color: #fff;
        border: 1px solid #ccc;
        color: #000;
        display: inline-block;
        height: 200px;
        margin: 10px;
        position: relative;
        text-align: left;
        width: 200px;
        vertical-align: top;
    }


    .home_wrapper .name, .name_nohover {
        font-size: x-large;
        height: 76px;
        text-align: center;
    }

    .home_wrapper .name span, .name_nohover span {
        position: relative;
        top: 23px;
    }

    .home_wrapper .name:hover {
        box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.1);
    }

    .home_wrapper .master_staging {
        position: relative;
        margin-top: 25px;
    }

    .home_wrapper .pipeline {
        bottom: 60px;
        font-size: small;
        height: 60px;
        padding: 2px 0 2px 0;
        position: absolute;
        text-align: center;
        width: 100%;
    }

    .home_wrapper .pipeline:hover {
        box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.1);
    }

    .home_wrapper .pipeline span {
        position: relative;
        top: 10px;
    }

    .home_wrapper .cumulative {
        bottom: 0;
        font-size: small;
        height: 60px;
        padding: 2px 0 2px 0;
        position: absolute;
        text-align: center;
        width: 100%;
    }

    .home_wrapper .cumulative:hover {
        box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.1);
    }

    .home_wrapper .cumulative span {
        position: relative;
        top: 10px;
    }

    .home_wrapper .other_status {
        clear: both;
        height: 124px;
        position: relative;
        text-align: center;
        width: 100%;
    }

    .home_wrapper .other_status span {
        font-size: medium;
        position: relative;
        top: 50px;
    }

    .home_wrapper .toggle_status {
        clear: both;
        display: block;
        font-size: small;
        position: relative;
        text-align: center;
        margin-top: 20px;
        width: 100%;
    }

    .home_wrapper a {
        text-decoration: none;
    }

    .home_wrapper a:active {
        text-decoration: none;
    }

    .home_wrapper a:hover {
        text-decoration: none;
    }

    .home_wrapper a:visited {
        text-decoration: none;
    }

/* Master */

.master_banner {
    font-size: x-large;
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 5px;
    text-align: center;
}

.view_summary_all {
    margin: 10px 0 10px 0;
    text-align: center;
}

.available {
    background-color: #4caf50!important;
    color: #fff!important;
}

.unavailable {
    background-color: #f44336!important;
    color: #fff!important;
}

.online {
    border: 1px solid #4caf50!important;
    /* color: #fff!important; */
}

.offline {
    border: 1px solid #f44336!important;
    /* color: #fff!important; */
}

.online_bg {
    background-color: #4caf50!important;
    color: #fff!important;
}

.offline_bg {
    background-color: #f44336!important;
    color: #fff!important;
}

.upgrading_bg {
    background-color: #ffeb3b!important;
    color: #000!important;
}

.staging_bg {
    background-color: #9e9e9e!important;
    color: #fff!important;
}

.master_wrapper {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    overflow: auto;
}

    .master_wrapper .box {
        background-color: #fff;
        border: 1px solid #ccc;
        display: inline-block;
        height: 270px;
        margin: 10px;
        padding: 20px 20px 40px 20px;
        position: relative;
        text-align: center;
        width: 400px;
    }

    .master_wrapper .name {
        margin-top: 20px;
    }

    .master_wrapper .testrun_name {
        margin-top: 10px;
    }

    .master_wrapper .testrun_results {
        font-size: small;
    }

    .master_wrapper a {
        text-decoration: none;
    }

    .master_wrapper a:active {
        text-decoration: none;
    }

    .master_wrapper a:hover {
        text-decoration: none;
    }

    .master_wrapper a:visited {
        text-decoration: none;
    }

.jira_tickets {
    position: relative;
    clear: both;
    margin-bottom: 25px;
}

pre {
    font-family: Courier New, Monospace;
    white-space: pre-wrap;
}

/* Admin */

.add_master {
    margin: 0 auto;
    width: 600px;
}

    .add_master .title {
        font-size: large;
    }

    .add_master .form_field {
        display: inline;
        margin-right: 20px;
        position: relative;
        width: 250px;
    }

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */
<!--
@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
-->

table, th, td {
    border: 0px solid black;
    border-collapse: collapse;
    border-spacing: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    background-color: white;
}

tr {
    line-height: 0.5;
}
th, td {
    padding: 8px;
    text-align: left;
    white-space: nowrap;
}

.col-left-align {
    text-align: left;
}

.col-right-align {
    text-align: right;
}

.snapshot-list caption{
    font-size: large;
}

.snapshot-info div{
    background-color: #F8F9F9;
    width: 100%;
    padding-bottom: 50px;
}

.snapshot-info td{
    font-size: large;
    background-color: #F8F9F9;
}

tr.hover_tr:hover td{
    cursor: pointer;
    background-color: #eee;
}

.monotype-font {
    font-family: "Andale Mono", "Monotype.com", monospace;
}

select, option {
    font-family: "Andale Mono", "Monotype.com", monospace;
}

#tabList .nav-pills > li > a {
    border-radius: 4px 4px 0 0 ;
}

#tabList .tab-content {
    color : black;
    background-color: white;
    padding : 5px 15px;
}

