<!doctype html>
<html class="no-js" lang="">
  <head>
    {% if title %}
    <title>{{ title }} - Pyfly</title>
    {% else %}
    <title>Pyfly</title>
    {% endif %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/balloon.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!--
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
    -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <script src="{{ url_for('static', filename='js/vendor/modernizr-2.8.3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/jquery-1.11.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/jquery-ui.min.js') }}"></script>


  </head>
  <body>
    <div class="container">
        <div class="header">
            <div class="left">
                <h2>Pyfly</h2>
            </div>
            <div class="right">
                <div class="refresh_timer">
                    {% if auto_refresh == false %}
                        Auto-refresh disabled
                    {% else %}
                        Auto-refresh in <span id="time">5:00</span>
                    {% endif %}
                </div>
                {% for breadcrumb in breadcrumbs %}
                    {% if loop.last %}
                        {{ breadcrumb.text }}
                    {% else %}
                        <a href="{{ breadcrumb.url }}">{{ breadcrumb.text }}</a>
		        {{ '| ' if not loop.last }}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="wrapper-hidden">
            <div class="main_content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    </body>
</html>
